VITE_SUPABASE_URL=colle_ici_l_url_de_ton_projet_supabase
VITE_SUPABASE_ANON_KEY=colle_ici_la_cle_anon_de_supabase
VITE_ADMIN_PASSWORD=choisis_un_mot_de_passe_pour_les_responsables
VITE_EMAILJS_SERVICE_ID=colle_ici_l_id_du_service_emailjs
VITE_EMAILJS_TEMPLATE_ID=colle_ici_l_id_de_ton_unique_template_emailjs
VITE_EMAILJS_PUBLIC_KEY=colle_ici_la_cle_publique_emailjs
VITE_CLUB_EMAIL=mpgtlab@gmail.com
